{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        /* Additional styles */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #222;
        }

        .content {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
        <h1>FORM</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main class="content">
            <form action="" method="post">
                {%csrf_token%}
                 {{form.as_table}}
       
                <input type="submit" value="submit">
                </form>
        </main>
        <footer>
            <p>&copy; 2024 adree</p>
        </footer>
    </div>
</body>
</html>